<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Vehicle Manager</title>
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
</head>
<body>


<div th:replace="header :: header"></div>


<div class="container" style="margin-top: 100px">


    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-default btn-lg" id="myBtn"
            data-toggle="modal" data-target="#myModal">Create
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding: 35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Email Template</h1>
                </div>
                <div class="modal-body" style="padding: 40px 50px;">
                    <form role="form" action="/emailTemplate/create" method="post" th:object="${emailTemplate}">
                        <input type="hidden" name="id" id="emailId"/>
                        <div class="form-group">
                            <label for="emailNameId"> Name</label>
                            <input type="text" class="form-control" id="emailNameId"
                                   placeholder="Enter Template name ..."
                                   name="name"/>
                        </div>
                        <div class="form-group">
                            <label for="emailSubjectId">Subject</label>
                            <input type="text" name="subject" class="form-control" id="emailSubjectId"
                                   placeholder="Enter email subject ..."/>
                        </div>

                        <div class="form-group">
                            <label for="emailBodyId">Body</label>
                            <input type="text" name="body" class="form-control" id="emailBodyId"
                                   placeholder="Enter email body ..."/>
                        </div>

                        <div class="form-group">
                            <label for="selectCampaignId">Select Campaign</label>
                            <select class="form-control" id="selectCampaignId">
                                <option th:each="campaign : ${campaigns}">[[${campaign.name}]]</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success btn-block"
                                id="createEmailId">Create
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Email Templates</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Campaign</th>
            <th/>
        </tr>
        </thead>

        <tbody>
        <tr th:each="emailTemplate : ${emailTemplates}">
            <td th:text="${emailTemplate.name}" class="emailname"></td>
            <td th:text="${emailTemplate.subject}" class="emailsubject"></td>
            <td th:text="${emailTemplate.body}" class="emailbody"></td>
            <td th:text="${emailTemplate.campaign}" class="emailcampaign"></td>
            <td align="right">
                <p th:id="${emailTemplate.id}">
                    <span class="glyphicon glyphicon-pencil btnEdit"
                          onmouseover="this.style.cursor='pointer'">
                    </span> <span
                        onmouseover="this.style.cursor='pointer'"
                        class="glyphicon  glyphicon-trash btnDelete"></span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(
        function () {

            $(".btnEdit").bind(
                "click",
                function () {
                    $("#emailNameId").val(
                        $(this).parent().parent().parent()
                            .find(".emailname").html());
                    $("#emailSubjectId").val(
                        $(this).parent().parent().parent()
                            .find(".emailsubject").html());
                    $("#emailBodyId").val(
                        $(this).parent().parent().parent()
                            .find(".emailbody").html());
                    $("#emailId").val($(this).parent().attr("id"));
                    console.log($(this));
                    $("#createEmailId").text("Update");
                    $("#myModal").modal();
                });

            $(".btnDelete").bind("click", function () {

                $.ajax({
                    url: '/emailTemplate/delete',
                    type: 'POST',
                    data: {
                        "email.id": $(this).parent().attr("id")
                    },
                    success: function (response) {
                        location.reload();
                    }
                });
            });
        });
</script>

</body>
</html>